<section>
  <div class="box-titulo">
    <h2>How It Works</h2>
    <h1>
      What our customers <br />
      say about us ?
    </h1>
  </div>

  <div class="box-info">
    <div class="box-tudo">
      <img src="assets/como-funciona-1.svg" alt="acompanhe suas economias" />
      <h3>Track your <label>savings</label></h3>
      <p>Track your savings and build better spending habbits</p>
    </div>

    <div class="box-tudo">
      <img src="assets/como-funciona-2.svg" alt="realize seus objetivos" />
      <h3>Accomplish your <label>goals</label></h3>
      <p>Accomplish your savings goals</p>
    </div>

    <div class="box-tudo">
      <img src="assets/como-funciona-3.svg" alt="resgate recompensas" />
      <h3>Redeem <label>rewards</label></h3>
      <p>Redeem rewards when you accomplish your savings goals.</p>
    </div>
  </div>
</section>
