@import "./config-css/reset.scss";
@import "./config-css/variaveis.scss";
@import "./config-css/animations.scss";

html{
  background: var(--preto);
}

main {
  margin: 0;
  box-sizing: border-box;
}
